
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        This is my first ASP.Net MVC page
        The current Date and time is
        <h2> @DateTime.Now.ToString() </h2>
    </div>
</body>
</html>
